

.up_input{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	
}

.loginform{
	float:right;
	padding-right:10px;
	font-size: 20px;
}

.loginform form{
	display: inline-block;
}


.button_login{
	
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	border-radius: 9px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	border-width: 0px;
}

.button_login:hover {
    background-image: linear-gradient(to bottom, rgba(200,60,54,1), rgba(120,30,22,1) );
	text-decoration: none;
}


.low_input{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.signinform{
	text-align: center;
	padding-top: 20px;
	width:50%;
	vertical-align:top;
	display: inline-block;
	margin-bottom: 150px;
	margin-top:50px;
	font-size: 25px;
	margin-left:25%;
}

.signinform form{
	display: inline;
	top:0px;
}

.middle{
	background: linear-gradient(to top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 17%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	
}

.below{
	width:100%;
	text-align: center;
	padding-top: 50px;
	background-color
}


#msg_connexion{

	color:red;
	margin-top:10px;
	border-radius:9px;
	border: 1px solid red;
}
