.top{
	width:100%;
    background: linear-gradient(to bottom, rgba(236,142,54,1) 0%, rgba(236,142,54,1) 25%, rgba(254,60,22,1) 81%, rgba(254,60,22,1) 100%);
  	position: fixed;
    box-shadow: 0px 10px 16px -7px rgba(0,0,0,0.30);
    top:0px;
    visibility: visible;
    z-index: 999;
}

.image{
	float:left;
	margin-left: 20px;
}


.middle{
	width:100%;
	margin-top: 60px;
}

.lg_200{
	width: 200px;
}

input{
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  	border: 1px solid #b7b7b7;
  	padding:5px;
  	font-size: 15px; 	
}


input[type="checkbox"]{
	box-shadow: none;
}

.check_root{
	font-size: 15px;
	color:#ffffff;
}


.aside{
	width:25%;
	vertical-align:top;
	display: inline-block;
	
}


.elform{
	margin: 10px;
	text-align: center;
}

.elform input{
	padding: 10px;
}


.elform_log{
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-top:10px;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 10px
}

body{
	margin:0px;
	font-family:arial,verdana;
	display: block;
}


.button {
  background-image: linear-gradient(to bottom, rgba(236,142,54,1), rgba(254,60,22,1) );
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border-width: 0px;
}


.button:hover {
  
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


